@use "colors";

$border-radius: 5px;

$border-thickness: 2px;
$component-border: $border-thickness solid colors.$white-translucent;
$component-inner-divider: $border-thickness solid colors.$white-translucent;
