$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blue: hsl(217, 91%, 60%);

$white-text: hsl(0, 0%, 88%);
$black-background: hsl(0, 0%, 7%);
$form-gray-background: hsl(0, 0%, 18%);

$white-translucent: hsla(0, 0%, 100%, 0.4);
$blue-translucent: hsla(217, 91%, 60%, 0.1);

$hover-gray: hsl(0, 0%, 22%);
