@use "theme/colors";
@use "theme/typography";

body {
  background-color: colors.$white;
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form {
  max-width: 375px;
}

p {
  font-size: typography.$font-size-md;
}
