@use "theme/borders";
@use "theme/colors";
@use "theme/spacing";
@use "theme/typography";

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;

  font-size: typography.$font-size-base;

  color: colors.$white-text;
  background-color: colors.$form-gray-background;

  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

.freeform-container {
  margin-bottom: 15px;

  input {
    max-width: spacing.$question-max-width;
  }

  &:has(> #url) input {
    max-width: unset;
  }
}
