@use "theme/borders";
@use "theme/spacing";
@use "theme/typography";

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;

  font-size: typography.$font-size-base;

  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

.freeform-container {
  margin-bottom: 15px;
  max-width: spacing.$question-max-width;

  &:has(> #url) {
    max-width: unset;
  }

  label {
    font-size: typography.$font-size-lg;
    font-weight: 500;
  }
}
