@use "theme/borders";
@use "theme/typography";

.url-container {
  font-size: typography.$font-size-lg;
  margin-bottom: 15px;

  label {
    font-weight: 500;
  }

  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;

    font-size: typography.$font-size-base;

    border: borders.$component-border;
    border-radius: borders.$border-radius;
  }
}
